rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {

function isSignedIn() {
  return request.auth != null;
}

function isOwner(uid) {
  return isSignedIn() && request.auth.uid == uid;
}

function hasAuthEmail() {
  return isSignedIn() && request.auth.token.email != null;
}

match /users/{uid} {
  allow read, create, update, delete: if isOwner(uid);

  match /{document=**} {
    allow read, create, update, delete: if isOwner(uid);
  }
}

match /userGoals/{uid} {
  allow read, create, update, delete: if isOwner(uid);
}

match /entitlements/{docId} {
  allow read: if hasAuthEmail() && docId == request.auth.token.email;
  allow write: if false;
}

match /{document=**} {
  allow read, write: if false;
}

}
}
